{% extends 'base.html' %}

{% block content %}
<div class="form-content"
    style="min-height: 60vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div class="" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div class="row justify-content-cente">
            <div class="col-md-6">
                <div class="" style="width: 700px;">
                    <div class="">
                        <p><strong>Password reset sent</strong></p>
                        <p class="card-text pt-2">
                            We’ve emailed you instructions for setting your password, if an account exists with the
                            email you entered. You should
                            receive them shortly.

                            If you don’t receive an email, please make sure you’ve entered the address you registered
                            with, and check your spam
                            folder.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}